.body {
    margin: 0px;
}
.wrapper{
    width: 100%;
    height: 800px;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    background: #ddd;
    display: flex;

}
.flying-box{
    background: rgba(169, 50, 38);
    width: 200px;
    padding: 55px;
    text-align: center;
    color: white;

}