.body {
    margin: 0px;
    }
.row-wrapper {
    width: auto;
    justify-content: space-around;
    padding: 5px;
    background: #ddd;
    border: 1px solid;
    display: flex;
}
.column-wrapper {
    display: flex;
    flex-direction: column;
}
.box {
    width: 200px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    background: rgba(42, 42, 192, 0.541);
}
