.body {
    margin: 0px;
    }
.grid {
  padding: 10px;
  grid-gap: 10px;
  width: 70%;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  background: #ddd;
  display: grid;
}

.box {
  padding: 10px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background: rgba(26, 188, 156);
}
