.body {
    margin: 0px;

    }

.wrapper{
    position: relative;
    width: 100%;
    height: 800px;
    border: 1px solid;
    background: #ddd;

}
.flying-box{
    position: absolute;
    top: 45%;
    left: 40%;
    width: 200px;
    padding: 50px;
    background: rgba(169, 50, 38);
    text-align: center;
    color: white;

}