.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
  
  }
  
.list-style {  
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
.box-login {  
    max-width: 500px;
    width: 500px;
    border: 1px solid #ddd;
    padding: 10px;
  
  }
  
.image {  
    display: flex;
    justify-content: center;
}
  
.form {
    line-height: 25px;
    width: 100%;
}
       
.label {
    font-weight: bold;
  }
  
#email {
    width: 490px;
    padding-top: 10px;
    padding-bottom: 10px;  
}   
#password {
    width: 490px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
#login {  
    width: 494px;
    background: green;
    color: white;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    cursor: pointer;
  
}
  
#loginform {  
    /* display: none; */
  display: "inline-block";
  
}
    
#logged {
    display: none;
    /* display: "inline-block"; */
    border: 1px dashed #ddd;
    max-width: 500px;
    width: 500px;
    padding: 50px;
  
  }
    
#logout {
    background: #000;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  
  }