.body {
    margin-left: 15%;
}
.sidebar {
    width: 22%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    padding-top: 20px;
  }
.sidebar img {
    width: 80px;
    border-radius: 100%;
    border: 2px solid #e5e5e5;
  }
  .sidebar h4 {
    color: #d1cfcf;
  }
  
  .container {
    background-image: url('../images/home_page_bg_2.jpeg');
    height: 100vh;
    margin-left: 22%;
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
  }

.path {
    padding-top: 50px;
    padding-left: 200px;
}

.photo {
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
img {
    width: 100%;
}
.box .des {
    position: relative;
}
.box .des .date {
    position: absolute;
    top: -50px;
    right: 30px;
    background: orange;
    height: 50px;
    width: 50px;
    color: white;
}

.box .des {
    text-align: center;
    padding: 25px;
}

.box .des h5{
    opacity: 0.7;
    padding-bottom: 20px;
}
@media (min-width: 768px) {
    .photo  .box {
        width: 40%;
        margin: 1%;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
}
@media (max-width: 768px) {
    .photo  .box {
        width: 100%;
        margin: 4%;

    }

}

#nav {
    list-style-type: none;
    text-align: center;
    padding: 0px;
  }
  #nav li {
    position: relative;
    padding: 10px;
    border-bottom: 1px solid rgb(237, 236, 236);
    border-top: 1px solid rgb(237, 236, 236);
    margin-top: -1px;
  }
  #nav li.active5 {
    background-color: #f5f3f3;
  }
  li.active5 a:after {
    background-color: #f4c052;
    display: block;
    position: absolute;
    content: ' ';
    right: 0;
    bottom: 0;
    width: 3px;
    height: 100%;
  }
  #nav a {
    color: black;
    text-decoration: none;
  }