.body {
    margin-left: 25%;
}
.sidebar {
    width: 22%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    padding-top: 20px;
  }
.sidebar img {
    width: 80px;
    border-radius: 100%;
    border: 2px solid #e5e5e5;
  }
  .sidebar h4 {
    color: #d1cfcf;
  }
  
  .container {
    background-image: url('../images/home_page_bg_2.jpeg');
    height: 100vh;
    margin-left: 22%;
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
  }
.path {
    padding-top: 50px;
    padding-left: 50px;

}


.item {
    padding-top: 55px ;
    display: flex;
    justify-content: center;
    
}


.folder-active {
    background: orange !important;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

}


.folder {
    border: none;
    cursor: pointer;
    background: white;
    margin-right: 15px;
}


.photos {

    margin-top: 50px;
    margin-right: 70px;
    margin-left: 70px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;

}


@media (min-width: 768px) {
    .photos img {
        width: 30%;
        margin: 1%;
    }

}

@media (min-width: 426px) and (max-width: 768px) {
    .photos img {
        width: 40%;
        margin: 1%;

    }
}
@media (max-width: 426px) {
    .photos img {
        width: 100%;
        margin-bottom: 4%;

    }

}

  #nav {
    list-style-type: none;
    text-align: center;
    padding: 0px;
  }
  #nav li {
    position: relative;
    padding: 10px;
    border-bottom: 1px solid rgb(237, 236, 236);
    border-top: 1px solid rgb(237, 236, 236);
    margin-top: -1px;
  }
  #nav li.active4 {
    background-color: #f5f3f3;
  }
  li.active4 a:after {
    background-color: #f4c052;
    display: block;
    position: absolute;
    content: ' ';
    right: 0;
    bottom: 0;
    width: 3px;
    height: 100%;
  }
  #nav a {
    color: black;
    text-decoration: none;
  }

  